@model BCPA_OTS.Models.Show
@using BCPA_OTS.Models
@{
    ViewBag.Title = "Book";
}

<header class="jumbotron">
    <h1>Bucks Center <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Performing Arts</h1>
    <h1>@Model.Event.Name</h1>
    <h2>@Model.PerformanceDate.DayOfWeek @Model.PerformanceDate.ToLongDateString()</h2>
    <h3>Show Starts: @Model.PerformanceDate.ToString("H:mm")</h3>
</header>
<div class="row">
    <div class="col-lg-7">
        <p class="text-center theatre">
            Theatre Stage
        </p>
        <br />
        <div>

            @foreach (Seat seat in Model.Seats)
            {
                string seatNo = seat.SeatRow + seat.SeatNo;

                if (seat.SeatNo == 1)
                {
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                }

                if (seat.Status == SeatStatus.Available)
                {
                    @Html.ActionLink(" ", "BookSeat", new { showID = Model.ShowID, seatID = seat.SeatID },
                        new { @class = "seat seat-available", title = seatNo });
                    @*<a class="seat seat-available" href="#" title="@seat.SeatRow@seat.SeatNo"></a>*@
                }
                else if (seat.Status == SeatStatus.Hold)
                {
                    @Html.ActionLink(" ", "BookSeat", new { showID = Model.ShowID, seatID = seat.SeatID },
                        new { @class = "seat seat-held", title = seatNo });
                    @*<a class="seat seat-held" href="#" title="@seat.SeatRow@seat.SeatNo"></a>*@
                }
                else
                {
                    <a class="seat seat-sold" href="#" title="@seat.SeatRow@seat.SeatNo"></a>
                }

                if (seat.SeatNo > 0 && seat.SeatNo % 20 == 0)
                {
                @:</div><div>
                }

                if (seat.SeatNo < 20 && seat.SeatNo % 10 == 0)
                {
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                }
            }

        </div>
    </div>
    <div class="col-lg-5">
        <img class="img-responsive" src="~/Images/@Model.Event.ImageURL" alt="Image of Show" />
        <h2>Ticket Prices</h2>
        <h3>Promotion: @Model.Promotion.Name</h3>
        <table class="table table-bordered">
            <tr class="bg-info">
                <th>Customer</th>
                <th>Orchestra</th>
                <th>Stall Seat</th>
                <th>Back Seat</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Adult, SeatTypes.Orchestra).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Adult, SeatTypes.Stalls).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Adult, SeatTypes.Back).ToString("c")
                </td>
            </tr>
            <tr>
                <td>Child</td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Child, SeatTypes.Orchestra).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Child, SeatTypes.Stalls).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Child, SeatTypes.Back).ToString("c")
                </td>
            </tr>
            <tr>
                <td>Student</td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Student, SeatTypes.Orchestra).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Student, SeatTypes.Stalls).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Student, SeatTypes.Back).ToString("c")
                </td>
            </tr>
            <tr>
                <td>Senior</td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Senior, SeatTypes.Orchestra).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Senior, SeatTypes.Stalls).ToString("c")
                </td>
                <td class="text-center">
                    @Model.Promotion.GetPrice(CustomerTypes.Senior, SeatTypes.Back).ToString("c")
                </td>
            </tr>
        </table>
    </div>
</div>
<section>
    <p class="text-center">
        @Html.ActionLink("Purchase Seats >>", "Purchase", new { id = Model.ShowID }, new { @class = "btn btn-success" })
    </p>
</section>

